<?xml version="1.0" encoding="utf-8"?>
	<configuration>
	<appSettings>
		<add key="IPG_Connection_Address" value="demo-ipg.ctdev.comtrust.ae" />
		<add key="IPG_Connection_Certificate_Path" value="C:\Certificates\Demo Merchant - New.pfx" />
		<add key="IPG_Connection_Certificate_Password" value="+zjuiAY6hp1AzOEzrdzAeGxWAgNV9mfbgoCmhD1q3fJi/lJZdID0LWgsDXB+rekS" />
		<add key="IPG_Connection_IsSecure" value="True" />
		<add key="IPG_Connection_Port" value="2443" />
		<add key="IPG_Connection_TimeOut" value="120" />
	</appSettings>
</configuration>