@{
    ViewBag.Title = "Not Found";
}

<div class="row bg-success border-1 border-top border-success mb-3">
</div>
<div class="row mt-5">
    <div class="col-12">
        <h3>@ViewBag.ErrorMessage</h3>
        <h3>@ViewBag.Path</h3>
        <h3>@ViewBag.QS</h3>
    </div>
</div>